<h1>{{msg}}</h1>
<br>
<h5>Posts:</h5>
<ul id="posts-list" class="list-group ml-4 bg-white">
  {{#each post}}
  <li class="posts-li shadow p-2 mb-3 border border-light" data-id="{{this.id}}">
    <p><strong>Category:</strong> {{this.category}}</p>
    <p><strong>Username:</strong> {{this.username}}</p>
    <p><strong>Posted:</strong> {{this.createdAt}}</p>
    <a href="post/{{this.id}}">{{this.title}}</a>
    <a class="btn-white float-right delete-post-modal-btn text-light" data-id="{{this.id}}" data-toggle="modal" data-target="#delete-post-modal"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></a>
  </li>
  {{/each}}
</ul>

{{!-- delete post modal --}}
<div class="modal" tabindex="-1" role="dialog" id="delete-post-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Enter Pin For Your Post</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="clearfix mb-2">
          <div class="form-group">
            <label for="post-pin-delete">Pin Number:</label>
            <input type="number" id="post-pin-delete" class="form-control bg-light" aria-describedby="post-pin-delete" placeholder="4~6 Digit Pin# You Set For Your Post">
          </div>
          <div class="form-group">
            <label for="post-id">Post ID:</label>
            <input class="form-control post-delete-id bg-light" id="delete-post-id" value="" disabled>
          </div>
        </form>
        <div class="modal-footer mb-1">
          <button type="button" class="btn btn-primary delete-post-btn"><i class="fas fa-times pr-2"></i> Delete Post</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/post-ajax.js"></script>


