{{!-- from Treys' Build --}}
 <!-- MAIN CONTAINER-->
  
  {{!-- <div class="col-md-9">

        <table class="table table-responsive-lg table-borderless mt-3">
          <thead class="thead">
            <!-- <tr>  -->
            <th scope="col" class="topic-col">
              <h3>Forum Posts:</h3>
            </th>
          </thead>
          <tbody>
            <td>
              <h3 class="h6"><i class="important fas fa-exclamation fa-lg pr-2"></i><a href="post.html">IMPORTANT: Rules
                  about this forum (Please read before posting!)</a></h3>
              <footer>
                <div>by: <span>Admin</span>
                  03 Apr 2017, 13:46</div>
              </footer>
            </td>
            </tr>
            <tr>
              <td>
                <h3 class="h6"><a href="post.html">Forum post title with a complex and long question Forum post title
                    with a complex and long question</a></h3>
                <footer>
                  <div>by: <span>Guest</span>
                    03 Apr 2017, 13:46</div>
                </footer>
              </td>
            </tr>
            <tr>
              <td>
                <h3 class="h6"><a href="post.html">Forum post title with a complex and long question Forum post title
                    with a complex and long question</a></h3>
                <footer>
                  <div>by: <span>Guest</span>
                    03 Apr 2017, 13:46</div>
                </footer>
              </td>
          </tbody>
        </table>
      </div>
    </div> --}}
  
   
{{!-- Original code Daniel --}}


<div id="home">
  {{!-- <div class="container-fluid pt-5">
    <div class="row">
      <div class="col-md-9 offset-2"> --}}

        <h1>{{msg}}</h1>

        <h3>Posts:</h3>
        <ul id="posts-list" class="list-group">
          {{#each post}}
          <li data-id="{{this.id}}" class="list-group-item">
            <p>{{this.username}} 
              <a href="post/{{this.id}}">{{this.title}}</a> {{this.category}} 
              <button class="btn btn-danger float-right delete">ｘ</button>
            </p>
          </li>
          {{/each}}
        </ul>

      {{!-- </div>
    </div>
  </div> --}}
</div>  

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


