{{!-- //from Trey's build --}}
  
    {{!-- <div class="container my-3 mb-5">
      
      <div class="row">
        <div class="col-12">
          <h2 class="h4 mb-3 pt-3">Create New Post:</h2>
          <form class="mb-3">
            <div class="form-group">
              <label for="topic">Title:</label>
              <input type="text" class="form-control bg-light" id="topic" placeholder="Give your Post a title." required>
            </div>
            <div class="form-group">
              <label for="comment">Message:</label>
              <textarea class="form-control bg-light" id="comment" rows="10" placeholder="Write your Message here." required></textarea>
            </div>
            
            <button type="submit" class="btn btn-outline-deep-orange waves-effect rounded">Submit Post</button>
            <button type="reset" class="btn btn-dark waves-effect rounded">Reset</button>
          </form>
        </div>
      </div>
    </div> 
     --}}
      
 

{{!-- Original Daniels code --}}


 <div class="container-fluid"> 
  <div class="row"> 
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Post</h5>
          {{!-- SHOULD PIN (PASSWORD OF THE POST) BE INCLUDED IN HERE? --}}
          <p>
            <strong>ID</strong>: {{post.id}}
          </p>
          <p>
            <strong>Username</strong>: {{post.username}}
          </p>
          <p>
            <strong>Category</strong>: {{post.category}}
          </p>
          <p>
            <strong>Created At</strong>: {{post.createdAt}}
          </p>
          <p>
            <strong>Content</strong>: {{post.body}}
          </p>
          <p>
            <strong>Upvotes</strong>: {{example.upvotes}}
          </p>
          <p>
            <strong>Downvotes</strong>: {{post.downvotes}}
          </p>
          <p>
            <strong>Comments</strong>:
            <ul id="example-list" class="list-group">
              {{#each comment}}
              <li data-id="{{this.id}}" class="list-group-item">
                <p>{{this.body}}</p>
                {{!-- add javascript to require users to input their pin number for the comment to delete comment --}}
                <button class="btn btn-danger float-right delete">ｘ</button>
              </li>
              {{/each}}
            </ul>
            {{!-- form to post comment --}}
          </p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
   </div> 
</div>  
