{{!-- Original Daniels code --}}


 {{!-- <div class="container"> 
  <div class="row"> 
    <div class="col-9">
      <div class="card mt-4">
        <div class="card-body"> --}}
          <h5 class="card-title mb-3">Post:</h5>
          {{!-- SHOULD PIN (PASSWORD OF THE POST) BE INCLUDED IN HERE? --}}
          <div class="container shadow border border-light ml-3 p-3 mb-3">
          <p>
            <strong>ID</strong>: {{post.id}}
          </p>
          <p>
            <strong>Username</strong>: {{post.username}}
          </p>
          <p>
            <strong>Category</strong>: {{post.category}}
          </p>
          <p>
            <strong>Created At</strong>: {{post.createdAt}}
          </p>
          <p>
            <strong>Content</strong>: {{post.body}}
          </p>
          <p>
            <strong>Upvotes</strong>: {{example.upvotes}}
          </p>
          <p>
            <strong>Downvotes</strong>: {{post.downvotes}}
          </p>

          <p>
            <h3 class="ctitle">Replies:</h3>
            
            <ul id="example-list" class="list-group">
              {{#each post.Comments}}
              <li data-id="{{this.id}}" class="list-group-item pb-3">
                <p>{{this.body}}</p>
                {{!-- add javascript to require users to input their pin number for the comment to delete comment --}}
                 <a class="btn-white float-right delete text-light"><i class="fas fa-trash-alt" data-toggle="tooltip" title="Delete"></i></a>
              </li>
              {{/each}}
            </ul>
          </p>
          
          </div>
{{!-- <a href="/" class="btn btn-outline-success btn-sm waves-effect rounded-pill"></i>Back to Home</a>  --}}


            {{!-- <a href="/">← Back To Home</a> --}}
        {{!-- </div>
      </div>
    </div>

  </div> --}}

  {{!-- <div class="row">
    <div class="container col-9"> --}}
      
      <h5>Reply to Post:</h5>
<div class="container shadow border border-light ml-3 p-3 mt-3">
      <input class="form-control border border-light" id="post-id" type="hidden" value="{{post.id}}" disabled> 
      <form class="clearfix" method="POST">
        <div class="form-group">
          <label for="username">User Name:</label>
          <input type="text" id="username" class="form-control bg-light" aria-describedby="username" placeholder="Enter User Name">
        </div>
        <div class="form-group">
          <label for="pin">Pin Number:</label>
          <input type="number" id="comment-pin" class="form-control bg-light" aria-describedby="comment-pin" placeholder="4~6 Digit Pin# required to delete/update your post">
        </div>
        <div class="form-group">
          <label for="post-content">Content:</label>
          <textarea type="text" id="comment-content" class="form-control bg-light" rows="8" aria-describedby="comment-content" placeholder="Enter Comment"></textarea>
        </div>
        
        <button id="submit-comment" class="btn btn-outline-deep-orange waves-effect rounded-pill float-right">Submit</button>
      </form>
    </div>
  {{!-- </div>
</div> --}} 

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="/js/comment-ajax.js"></script>
